* {
    box-sizing: border-box;
}

.container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 360px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 25%;
    height: 60px;
    color: white;
}

button {
    width: 100%;
    height: 100%;
}

.monitor {
    width: 100%;
    min-height: 100px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: rgb(78, 80, 80);
    font-size: 24px;
    font-weight: bold;
    color: white;
    flex-wrap: nowrap;
}

.monitor-sub {
    min-height: 20px;
    overflow: scroll;
}

.monitor-main {
    height: 30px;
    margin-top: 10px;
}

.deactiveted {}

button {
    border: 0.5px solid black;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.button:hover {}

.button-zero {
    width: 50%;
}

.clear-btn,
.operator {
    background-color: rgb(243, 158, 68);
    transition: background-color 0.1s ease-in;
}

.clear-btn:hover,
.operator:hover {
    background-color: rgb(248, 137, 52);
}

.clear-btn.active,
.operator.active,
.clear-btn:active,
.operator:active {
    background-color: rgb(207, 138, 64);
    transition: background-color 0.1s ease-in;
}

.number {
    background-color: rgb(152, 150, 150);
}

.number.active,
.number:active {
    background-color: rgb(197, 194, 194);
}

.top-btn {
    background-color: rgb(104, 105, 105);
    transition: background-color 0.1s ease-in;
}

.top-btn:hover {
    background-color: rgb(78, 80, 80)
}

.top-btn.active,
.top-btn:active {
    background-color: rgb(152, 150, 150)
}